---
layout: page
title: "About"
header-img: "img/bg-me-2022.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}
<style>
    p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .project-index {
        margin-left: 20px;
    }

    a {
        text-decoration: underline;
    }

    hr {
        border: 1px solid lightgray;
    }

    figure {
        margin: 1.25em 0;
        page-break-inside: avoid;
    }

    .text-indent {
        text-indent: 10%;
        margin-top: 10px;
    }

    .column-list {
        display: flex;
        justify-content: space-between;
    }

    .column {
        padding: 0 1em;
    }

    .column:first-child {
        padding-left: 0;
    }

    .column:last-child {
        padding-right: 0;
    }

    img {
        max-width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid rgba(55, 53, 47, 0.09);
        border-collapse: collapse;
    }

    table {
        border-left: none;
        border-right: none;
    }

    th,
    td {
        font-weight: normal;
        padding: 0.25em 0.5em;
        line-height: 1.5;
        min-height: 1.5em;
        text-align: left;
    }

    th {
        color: rgba(55, 53, 47, 0.6);
    }

    ol,
    ul {
        margin: 0;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
    }

    li > ol:first-child,
    li > ul:first-child {
        margin-block-start: 0.6em;
    }

    ul > li {
        list-style: disc;
    }

    ul.to-do-list {
        text-indent: -1.7em;
    }

    ul.to-do-list > li {
        list-style: none;
    }

    .to-do-children-checked {
        text-decoration: line-through;
        opacity: 0.375;
    }

    ul.toggle > li {
        list-style: none;
    }

    ul {
        padding-inline-start: 1.7em;
    }

    ul > li {
        padding-left: 0.1em;
    }

    ol {
        padding-inline-start: 1.6em;
    }

    ol > li {
        padding-left: 0.2em;
    }

    .mono ol {
        padding-inline-start: 2em;
    }

    .mono ol > li {
        text-indent: -0.4em;
    }

    /* Indent toggle children */
    .toggle > li > details {
        padding-left: 1.7em;
    }

    .toggle > li > details > summary {
        margin-left: -1.1em;
    }
</style>
<body>
<article id="01db39bc-3ea4-4dbc-ad03-f786c989e389" class="page sans">
    <header><h1 class="page-title">김윤기</h1></header>
    <div class="page-body">
        <div id="cce2972c-7411-4ac7-9da2-61017a593033" class="column-list">
            <div id="42ed4b4e-57b5-4e6c-8858-9d2f789797e7" style="width:50%" class="column">
                <figure id="7f39e384-63f8-402c-b6a6-d333fefcebd2" class="image"><a
                        href="/img/about/resume-profile.jpg"><img
                        style="width:3024px"
                        src="/img/about/resume-profile.jpg"/></a>
                </figure>
            </div>
            <div id="76565605-b064-4d54-b3be-3950b52a273e" style="width:50%" class="column"><h2
                    id="db1a36cc-0865-46e7-a689-497420c2345c" class="">Back-End Developer</h2>
                <p id="c4a0ca81-d952-4f19-9760-3d6fbe819f99" class="block-color-gray">📧 kyk990328@gmaill.com</p>
                <p id="1f6fb531-c90f-42d5-96dd-c11cc10e482c" class="">📞 010-3687-1878</p>
                <p id="e9f697aa-9c27-46ea-957e-c973ac9cb302" class="">📍 <a
                        href="https://github.com/skullkim">github</a></p>
                <p id="01c28278-75f2-4f27-8b51-c2351c4be202" class="">✍ <a
                        href="https://www.skullkim-dev.com/">Blog</a></p>
                <blockquote id="4f1c73c2-46f9-4411-a901-25b84ba56f04" class="">
                    <strong>완벽과 깊이를 추구</strong>하는 신입 백엔드 개발자입니다. 더 나은 서비스를 만들기 위해선 깊이 있는 학습을 통해 지식을 이해하고 주어진 리소스 내에서 최선의
                    결과물을 냅니다.
                </blockquote>
                <blockquote id="fbd7be79-b402-4d6a-940d-b8ec8495137c" class="">
                    <strong>독서와 공유를 좋아합니다.</strong> 책을 통해 다양한
                    지식을 공부하고 이들을<strong> </strong><strong><a href="https://www.skullkim-dev.com/">블로그</a></strong>에
                    포스팅하고 있습니다. 또 한, 좋은 개발 글과 영상을 지인들에게 공유하고 있습니다.
                </blockquote>
            </div>
        </div>
        <!--    <h1 class="page-title">김윤기</h1></header>-->
        <!--    <div class="page-body"><h2 id="db1a36cc-0865-46e7-a689-497420c2345c" class="">Back-End Developer</h2>-->
        <!--        <p id="32f71e77-1011-448d-9f6f-9009074208fe" class="">-->
        <!--        </p>-->
        <!--        <p id="c4a0ca81-d952-4f19-9760-3d6fbe819f99" class="block-color-gray">📧 kyk990328@gmaill.com &nbsp 📞 010-3687-1878-->
        <!--            &nbsp 📍<a href="https://github.com/skullkim">github</a>&nbsp ✍<a href="https://iskull-dev.tistory.com/">Blog</a>&nbsp 🔗<a-->
        <!--                    href="https://www.linkedin.com/in/%EC%9C%A4%EA%B8%B0-%EA%B9%80-36a385239/">LinkedIn</a></p>-->
        <!--        <p id="15f6bbde-85fd-4813-a7a8-a3acbb37c268" class="">-->
        <!--        </p>-->
        <!--        <blockquote id="4f1c73c2-46f9-4411-a901-25b84ba56f04" class="">Backend 개발자가 되기 위해 끊임없이 노력하고 있는 학생입니다. 더 많고, 더 빠른-->
        <!--            성장을 위해 여러 개인 프로젝트를 진행했으며 공부한 내용들을 <strong><a href="https://www.skullkim-dev.com/">블로그</a></strong>에 정리하고-->
        <!--            이해하며 공부하고 있습니다.-->
        <!--        </blockquote>-->
        <!--        <blockquote id="fbd7be79-b402-4d6a-940d-b8ec8495137c" class="">백엔드 개발자가 되고 싶지만 백엔드만 공부하는 것을 선호하지는 않습니다. “백엔드-->
        <!--            개발자도 결국엔 개발자다.”라는 생각으로 공부를 하고 있습니다. 그 때문에 백엔드에 국한된 <em>지식뿐만 </em>아니라 프론트, CS 지식을 공부하는 것도 좋아합니다.-->
        <!--        </blockquote>-->
        <p id="997dce18-11c6-4e5f-9ef9-55e1ce71f51e" class="">
        </p>
        <hr id="3fdbf4d3-93c8-4414-929a-7b60683aca92"/>
        <h3 id="bff8909c-bc7f-4a01-8bf9-c194d357fa47" class="highlight-pink">
            <!--            <mark class="highlight-pink">프로젝트</mark>-->
            프로젝트
        </h3>
        <div id="c01eea6d-b48a-4270-b8ca-1f115482904f" class="column-list">
            <div id="2c806188-b21e-44e1-aed7-4c877d59bcce" style="width:31.25%" class="column"><p
                    id="f51d05b5-9f5f-413d-b4ae-fb14cd054ef9" class=""><strong>프로젝트 이름: Kilometer</strong></p>
                <!--                <p id="87377dde-71c4-44f2-b51e-da7392616505" class="">Kilometer</p>-->
                <p id="d232262e-4422-4c22-942d-dd829ab04dfc" class=""><a
                        href="https://github.com/teamesa/kilometer_backend">· Backend-repository</a></p>
                <p id="14fd7de8-c984-43c6-b5cd-76502b619653" class=""><strong>기술스택</strong></p>
                <p id="6db89a44-ff2b-471c-ad98-2f64d6fad458" class="">Backend:</p>
                <ul id="7a68ecfe-7351-4fe1-b743-c45a64a59c58" class="bulleted-list">
                    <li style="list-style-type:disc">Spring Boot</li>
                </ul>
                <ul id="7a68ecfe-7351-4fe1-b743-c45a64a59c59" class="bulleted-list">
                    <li style="list-style-type:disc">Spring Batch</li>
                </ul>
                <ul id="3a00ac7b-e7f9-4229-81b9-83eb3eed56a5" class="bulleted-list">
                    <li style="list-style-type:disc">Mysql</li>
                </ul>
                <ul id="b2e32170-07c6-47ec-a43f-2d15d74de69b" class="bulleted-list">
                    <li style="list-style-type:disc">JPA</li>
                </ul>
                <ul id="3cf8094f-6086-46ad-81ab-0bd92520784f" class="bulleted-list">
                    <li style="list-style-type:disc">AWS LightSail</li>
                </ul>
                <ul id="56cfd36d-b748-47db-b74e-fb3755a83dec" class="bulleted-list">
                    <li style="list-style-type:disc">Nginx</li>
                </ul>
                <ul id="1c99d66d-3bc5-4f6d-b5ff-33576a1ec83c" class="bulleted-list">
                    <li style="list-style-type:disc">Jenkins</li>
                </ul>
                <ul id="d9a486ca-912a-4956-ac45-7e5e5b625eaa" class="bulleted-list">
                    <li style="list-style-type:disc">docker</li>
                </ul>
                <p id="ab6d3bec-fd37-4a5a-8d28-13139a3dc956" class="">
                </p></div>
            <div id="3bd085ba-9289-4f0b-963d-f260d0d8fead" style="width:68.75%" class="column">
                <figure id="c61be477-c5f2-4af5-a9be-a73aaf50b760" class="image"><a
                        href="/img/about/kilometer.png"><img
                        style="width:200px"
                        src="/img/about/kilometer.png"/></a>
                </figure>
                <p id="499783a7-b1ae-4ddf-b846-6fa700e96bed" class=""><strong>프로젝트 소개</strong></p>
                <p id="a8059a25-4d3b-47ee-89be-224252e4a1f2" class="">· 연극 정보를 모아서 보여주는 서비스입니다.</p>
                <p id="9ede2e26-fd17-4180-900e-7ce7629626a7" class="">· 프로젝트가 진행된지 약 10개월이 되었을 때 합류하게 되었습니다.</p>
                <p id="6bbfd6ac-7399-4c3a-bf3a-6a2846e3c419" class="">· 인원: 백엔드 - 5명, 프론트엔드 - 3명, 디자인 - 1명, PM - 1 명</p>
                <p id="b4f66178-175a-4807-908b-4c0e55156d02" class="">· 개발기간: 2022.02 ~ 2023.08 (합류 시기: 2022.12)</p>
                <p id="0e640425-2ecf-4c0f-aed0-bb68b79a2582" class="">· 담당 파트:
                <div class="indented">
                    <p id="3284b09a-17c3-4eeb-b812-4bda640d0e02" class="">· 백엔드 (홈 모듈 도메인, 공연 정보 수집)</p>
                </div>
                </p><p id="7b0e7703-f685-4779-ac09-1b710df77211" class="">
            </p>
                <p id="aca0ab07-081c-4b65-8f66-9facc69eee65" class=""><strong>내가 기여한일</strong></p>

                <p id="909afd48-7dbd-4dcc-8af0-d3c663d31321" class="">
                    · <strong>스프링 배치를 이용한 공연 정보 수집 자동화</strong>
                <div class="indented">
                    <p id="b70963e0-72d6-4841-aecc-74569459012g" class="project-index">· 공연 정보를 사용자에게 보여주기까지의 절차를 스프링 배치를 이용해 자동화했습니다. 기존에는 팀원들이 각자 맡은 공연 카테고리에 해당하는 정보들을 찾아서 수동으로 업데이트를 진행했습니다. 때문에 업데이트가 느리고 중복 공연을 확인하기 어렵다는 문제가 있었습니다. 이 문제를 해결하기 위해 공연 정보를 수집하고, 공연 정보 중복 검사 및 저장, 저장 완료 슬랙 알림을 보내는 프로세스를 젠킨스와 스프링 배치로 구축했습니다. 그 결과 수동으로 진행하던 작업을 배치로 4분 만에 끝낼 수 있게 되었습니다.
                    </p>
                </div>
                </p>

                <p id="909afd48-7dbd-4dcc-8af0-d3c663d31332" class="">
                    · <strong>유닛 테스트 및 TDD 도입</strong>
                <div class="indented">
                    <p id="b70963e0-72d6-4841-aecc-74569459012e" class="project-index">· 처음 프로젝트에 합류했을
                        당시 대부분의 코드에
                        테스트가 거의 없었습니다. 테스트가 없으면 코드 변경 시, 해당 변경의 영향이 어디까지 퍼져나갈지 모르고, 기능을파악하기 까지 오랜 시간이 소요된다고 판단했습니다. 따라서
                        팀원들을 설득해 각자 맡은 파트에 대해 앞으로 코드 변경이 있다면, 우선 테스트를 작성하고 코드를 변경하고, 새로운 기능을 구현한다면 TDD를 사용하는 방향으로 합의를
                        봤습니다.
                    </p>
                    <p id="823e4a45-f2a4-495e-9326-11b70abce62d" class="project-index">· 제가 맡은 부분에 대해 추가 기능 구현을 할 때,
                        리펙터링을 진행할 때마다
                        필요한 테스트 코드 우선적으로 작성했습니다. 그 결과, 요구사항 오해로 인한 버그를 제외한 나머지 버그를 최소한으로 줄일 수 있었습니다.
                    </p>
                </div>
                </p>
                <p id="ecdb94b5-1ada-4f5a-94b1-6fd3985df5cb" class="">· <strong>팀원 멘토링</strong>
                <div class="indented"><p id="625dd818-ea28-4ba3-afea-5819f4f05eb0" class="project-index">· 유닛 테스와 TDD를
                    도입하고 보니, 벡엔드
                    팀원 중 한 분이 테스트를 경험해 본 적이 없다는 것을 알게 되었습니다. 이 팀원과 더 얘기를 나누다 보니 객체지향에 대한 자신의 관점이 없다는 것도 알게 되었습니다. 그래서 이
                    팀원에게 TDD, 유닛 테스트, OOP를 알려주기 위해 우아한테크코스에서 진행했던 자동차 경주 게임 미션을 과제로 주었습니다. 그 후, 팀원이 작성한 코드를 보고 코드를 피드백을
                    주면서 작성한 이유에 대해 질문하고, 생각을 들어보며 스스로 답이 없는 질문에 대해 고민해 볼 수 있는 경험을 만들어 주었습니다. 질문을 듣고, 답을 할 때, 이 분이 왜 이런
                    생각을 하게 되었고, 어떻게 설명해야 잘 이해할 수 있을지를 많이 고민했습니다.</p>
                    <p id="3fe0386f-6d2d-42e6-bce0-d30fc096d823" class="project-index">· 멘토링을 하면서 다룬 주제에 대해 더 많이 알았으면
                        좋겠다는 생각에 제가
                        읽어왔던 책들과 글들을 추천해 주었습니다. 그 후, 책들과 글 내용에 대해 함께 토론하기도 했습니다. </p></div>
                </p><p id="0d905bd9-93ae-4f09-95cf-ac9b6270dc6f" class="">· <strong>필요한 문서 도입</strong>
                <div class="indented"><p id="63e107bf-9f34-4984-b2b6-ac67bef1fd5d" class="project-index">· 프로젝트에 합류해서 기존
                    문서들을 보니, 새로
                    합류했을 때 업무 파악을 위한 문서들이 존재하지 않음을 알게 되었습니다. 기존 인프라, DB 구조 등에 대한 문서가 전무했습니다. 이 문제를 해결하기 위해 인프라 구조를 그리고,
                    DB 구조를 빠르게 파악하기 위해 ERD를 그리는 등, 필요한 문서를 작성했습니다.</p>
                    <p id="602fb101-92f5-4ff9-93d3-a0203f69852e" class="project-index">· 또 한, 개발 중 팀원들이 같이 알았으면 하는 지식들을
                        공유하기 위해 기술
                        블로그를 구축하고 사용하고 있습니다. <a href="https://teamesa.github.io/">기술블로그 바로가기</a></p>
                    <p id="4de1523a-f400-41ea-b019-3eef426f2f8f" class="">
                    </p></div>
                </p></div>
        </div>
        <div id="3f2c6d9b-3ccb-4221-81ed-c5044b720f3a" class="column-list" style="margin-top: 30px;">
            <div id="b6afcbbe-55f3-41c9-a0c5-6cee06d6b869" style="width:31.25%" class="column"><p
                    id="bb5f53dc-3d12-47d0-8a1a-104dafc110c8" class=""><strong>프로젝트 이름</strong></p>
                <p id="55f0164d-1971-4528-9df2-6141d008b680" class=""><a
                        href="https://github.com/woowacourse-teams/2022-thankoo">Thankoo</a></p>
                <p id="42b68bd7-cb3d-4e23-bc99-bb70071052ac" class="">
                </p>
                <p id="e2d8f7e9-92bc-4549-9e20-422a305ed80c" class="">기술스택</p>
                <p id="daa1dd49-80a0-40c2-9978-71ef19203f3e" class="">Backend:</p>
                <ul id="6ba940dd-0680-43cf-929f-114754030a83" class="bulleted-list">
                    <li style="list-style-type:disc">Spring Boot</li>
                </ul>
                <ul id="0945f7a9-75b3-452e-b0b5-15e4c80d3d32" class="bulleted-list">
                    <li style="list-style-type:disc">Mysql</li>
                </ul>
                <ul id="57580552-87dd-4c45-82df-35784169a399" class="bulleted-list">
                    <li style="list-style-type:disc">JPA</li>
                </ul>
                <ul id="ec2fe4ff-39bc-4ee7-9bcb-22366e0f303b" class="bulleted-list">
                    <li style="list-style-type:disc">AWS EC2</li>
                </ul>
                <ul id="43069ffa-bc0c-4557-a72a-363b3cfe5725" class="bulleted-list">
                    <li style="list-style-type:disc">Nginx</li>
                </ul>
                <ul id="5dd13120-2f69-48ad-b1d4-0df688e81833" class="bulleted-list">
                    <li style="list-style-type:disc">Jenkins</li>
                </ul>
                <ul id="006afa88-d396-418f-9c94-f9c81b7d4a0a" class="bulleted-list">
                    <li style="list-style-type:disc">React (back office)</li>
                </ul>
                <p id="da7dc69e-b5bd-4cbc-8ac1-1c05df9bcda2" class="">
                </p>
                <p id="12c04c90-1bbc-4d24-8eb7-9dce5bc0c936" class="">스프린트 영상:</p>
                <ul id="13bb8c78-ae58-48ad-bd78-6b16348dc036" class="bulleted-list">
                    <li style="list-style-type:disc"><a
                            href="https://www.youtube.com/watch?v=4YsK4z3q2DI&amp;t=218s">1차
                        스프린트</a></li>
                </ul>
                <ul id="e1cb4bae-0556-4532-9bc6-2cef34e14ab9" class="bulleted-list">
                    <li style="list-style-type:disc"><a
                            href="https://www.notion.so/dd9c2a10dc254a1a93c339317f197914">2차
                        스프린트</a></li>
                </ul>
                <ul id="88e85596-6eb8-46ea-8525-0496f513f2e2" class="bulleted-list">
                    <li style="list-style-type:disc"><a
                            href="https://www.youtube.com/watch?v=gh6KwrB3oX0&amp;t=3s">3차
                        스프린트</a></li>
                </ul>
                <ul id="874bf221-365b-4180-b1a7-a939b3c24b4c" class="bulleted-list">
                    <li style="list-style-type:disc"><a href="https://www.youtube.com/watch?v=TCiGf6nsG3E">4차
                        스프린트</a>
                    </li>
                </ul>
                <p id="00199541-e2ed-4543-9dd6-146869ad7dca" class="">
                </p></div>
            <div id="17a44ff6-55d2-4f3f-815b-8d9e48cc65f1" style="width:68.75%" class="column">
                <figure id="4c32ec6b-bcd9-47f5-b0f3-43f2d7babb86" class="image"><a
                        href="/img/about/thankoo.png"><img
                        style="width:128px"
                        src="/img/about/thankoo.png"/></a>
                </figure>
                <p id="889ad53f-bb40-4e67-b601-c437ffd79816" class="">
                </p>
                <p id="6ccc0c2e-1a81-4f3c-9327-bc7c2e97519b" class=""><strong>프로젝트 소개</strong></p>
                <p id="cb30e052-289b-4a29-95be-326a0593f343" class="">· 우아한테크코스 내에서 쿠폰을 주고받는 문화를 디지털 트랜스포메이션한
                    서비스입니다.</p>
                <p id="7fbccb69-9c77-4004-a57a-b6113d607a61" class="">· 인원: 백엔드 - 4명, 프론트엔드 - 2명</p>
                <p id="a7181653-e687-441c-8447-127b7414ccda" class="highlight-gray">· 개발기간:
                    <!--                    <mark class="highlight-gray">2022.07 ~2022.10</mark>-->
                    2022.07 ~ 2022.10
                </p>
                <p id="6b684b18-f8f8-4dbc-8733-f8e911f0ddfc" class="">
                </p>
                <p id="4ecd2bff-66e9-4827-b286-ab90489c6d04" class=""><strong>내가 기여한일</strong></p>
                <p id="f780dd7f-ace8-4ef6-9df8-ccca4ea62d60" class="">· <strong>Nginx를 이용한 정적 파일 캐싱과 WAS gzip 압축을 통한 성능
                    개</strong>선</p>
                <p id="8e6c7fc4-afc5-45b9-a1ca-5e00f25ec43d" class="project-index"> · 웹 페이지가 렌더링 되는 시간을 줄여서 사용자가 더 빠르게
                    서비스를 사용할 수 있게
                    하는 것이 목적이었습니다. 이 목적을 달성하기 위해 Nginx, Keep-Alive, HTTP/2 등을 공부하고 적용시켜 보며 다양한 시도를 했습니다. 그 결과 Nginx에서 정적
                    파일 캐싱을 을 통해 정적파일 로딩 속도를 55% 개선하는 것이 가장 효과적인 방법이라는 결과를 도출해냈습니다.</p>
                <p id="6de45f16-56cd-401a-8a69-0077e5769d35" class="">· <strong>데이터 유실을 막기 위해 DB 백업을 통한 데이터 관리</strong>
                <div class="indented"><p id="2627dd8f-610d-4837-b2c5-d88e2d836bf2" class="project-index">· 서비스를 운영하면서 가장
                    중요시해야 하는 것 중
                    하나가 데이터 관리라 생각합니다. 데이터 유출과 데이터 손실을 막아야 유저에게 신뢰를 줄 수 있기 때문입니다. 초기 서비스 구축 당시 데이터 유실을 막기 위한 대비책으로 디비
                    백업용 인스턴스를 띄워 mysqldump, cron, shell script를 이용해 DB 데이터 백업 자동화를 진행했습니다.</p>
                    <p id="90c8b657-2606-4006-ac0f-279e9b1b73da" class="project-index">· 추후 이렇게 백업한 데이터를 서비스 이전에
                        사용하였습니다.</p></div>
                </p><p id="5ce14c21-91f1-4a3a-9274-0fe9b269a31b" class="">· <strong>땡쿠 서비스 이전</strong>
                <div class="indented"><p id="dd392e13-1e40-41e1-aa27-c0076de6f52e" class="project-index">· 우아한테크코스가 끝나고
                    우아한형제들 AWS에
                    올라가있던 서비스를 내리게 되었습니다. 하지만, 공들여 만든 서비스를 조금이라도 더 유지하고 싶은 마음에 개인 AWS 계정으로 서비스를 이전했습니다. 프리 티어 계정에서도 최대한
                    유저에게 빠른 서비스 제공, SPOF 문제를 해결하고 싶었습니다. 이를 위해 AWS가 제공하는 다양한 서비스를 공부했습니다. 그 결과 Cloud front, S3,
                    Application Load Balancer, EC2, AutoScailing Group, AMI, ACM, RDS를 이용해 서비스를 이전할 수 있었습니다.</p></div>
                </p><p id="e8e62277-aa6c-4da0-97d8-d3a224443bc9" class="">· <strong>리액트를 이용한 백오피스 구축</strong>
                <div class="indented"><p id="420b58b3-14fd-4c96-8ba5-5746bd8397ce" class="project-index">· 일반 사용자에게 양질의
                    서비스를 제공하기 위해선
                    사용자의 개인 권한을 침해하지 않는 선에서 어드민이 서비스에 원하는 작업을 원활하게 할 수 있어야 한다고 생각합니다. 팀원들이 매번 데이터를 조회하기 위해 터미널로 DB에 접속하는
                    모습을 보고 더 편하게 작업할 수 있도록 백오피를 구축하게 되었습니다.</p>
                    <p id="76cd042a-e1ee-421c-b3fd-b9e775b4611c" class="project-index">· 기존에 있는 지류 쿠폰 기능을 디지털로 옮기는 서비스이다
                        보니, 기존에 존재하는
                        지류 쿠폰을 QR코드로 만들고 이를 통해 서비스에 디지털 쿠폰을 등록하는 기능이 필요했습니다. 이 QR 코드를 원하는 개수만큼 빠르게 만들고 사용자에게 제공하는 기능을
                        만들었습니다.</p>
                    <p id="2b796958-7684-4072-8d80-88037a413203" class="project-index">· <a
                            href="https://github.com/2022-thankoo/thankoo-admin-page">백오피스 레파지토리</a></p></div>
                </p><p id="121af3ea-a92f-4bb0-bfb4-3b527d45242d" class="">· 기타 구현 사항
                <div class="indented"><p id="4a8b06d4-ec9a-4e5e-8fee-c4b661e9f04c" class="project-index">· 개발 초기 인스턴스 성능
                    관측을 위한 AWS
                    cloud watch</p>
                    <p id="f06ae62f-b474-4499-946a-2eff32e81527" class="project-index">· WAS와 DB EC2 인스턴스 외부 접근을 막기 위한
                        ufw 설정</p>
                </div>
                </p>
                <p id="2fa6bed4-4963-43e5-92ea-62ad6e5ae983" class="">
                </p>
                <p id="2dc9d4be-ecf9-4ac2-b53a-86608fb68e15" class="">
                </p></div>
        </div>
        <div id="60a4a314-0734-44b6-8513-482d165396ed" class="column-list">
            <div id="37bb3d2a-869c-4d9c-946e-91f0c8568f47" style="width:31.25%" class="column"><p
                    id="218b3f11-a47a-4d6c-adf4-3bb098aa1559" class=""><strong>프로젝트 이름</strong></p>
                <p id="68e687f8-6fb5-4f43-bbd0-dd9a11f5b259" class=""><a
                        href="https://github.com/skullkim/metro-map-production">metro-map-production</a></p>
                <p id="65dc5e91-414c-4a30-8107-515516beb35c" class="">
                </p>
                <p id="b88a1c16-53bf-4ae8-ae15-39571464737f" class="">기술스택</p>
                <ul id="670c5063-3145-43e2-b589-af75b11c851c" class="bulleted-list">
                    <li style="list-style-type:disc">Express</li>
                </ul>
                <ul id="ef02867c-beb2-4dfe-ab29-c7016d0dab02" class="bulleted-list">
                    <li style="list-style-type:disc">Mysql</li>
                </ul>
                <ul id="a3e1280e-0066-4745-8133-6a50ebe0bd54" class="bulleted-list">
                    <li style="list-style-type:disc"> React</li>
                </ul>
                <ul id="f6e44453-45be-485f-83d8-2b23ff037401" class="bulleted-list">
                    <li style="list-style-type:disc"> JWT</li>
                </ul>
                <ul id="990f4e10-0cb3-4ecc-a52a-94c05a69dcfb" class="bulleted-list">
                    <li style="list-style-type:disc"> Docker</li>
                </ul>
                <ul id="fe102e7a-a61c-4c2f-b6ac-3152813bb52f" class="bulleted-list">
                    <li style="list-style-type:disc"> Nginx</li>
                </ul>
                <ul id="5a6f7596-c12a-4b63-90e7-31a5741d1b2c" class="bulleted-list">
                    <li style="list-style-type:disc"> HTTPS</li>
                </ul>
                <p id="ecf8ff7b-c67e-4dda-936a-96e6ed3c8e70" class="">
                </p>
                <p id="13df1feb-865b-4644-9926-34ad9ef30340" class="">
                </p></div>
            <div id="839e93bb-caa2-4935-8bb2-1327eb55cf66" style="width:68.75%" class="column"><p
                    id="5734b6e4-ba7b-4958-9b9d-a0c5390460c6" class=""><strong>프로젝트 소개</strong></p>
                <p id="97ae1282-5558-4d21-a10d-a6acc063cbe3" class="">· 지하철 노선도 서비스입니다.</p>
                <p id="cbf71203-2fa8-4ee6-9fe4-59ea708a9e6c" class="">· 이 프로젝트를 진행하면서 코드가 너무 난잡하다고 느끼게 되어 처음으로
                    깔끔한 코드와
                    좋은 설계에 대해 고민을 하게 해준 프로젝트입니다. </p>
                <p id="638d26c5-9ae9-4c65-b9c0-844ec7c28e18" class="">· 프로젝트를 진행하면서 웹의 전반적인 플로우를 겪어보고 싶다는 생각이
                    들었습니다. 그에
                    따라, 집에 서버를 직접 설치하고 docker를 사용해 배포를 진행했습니다.</p>
                <p id="23ef8f31-859d-409d-af92-4e1e56cbf22b" class="">· 인원: 1 명</p>
                <p id="81d25308-e19b-46e5-b694-cba1f4c4338e" class="highlight-gray">· 개발기간:
                    <!--                    <mark class="highlight-gray">2021.09 ~2021.11</mark>-->
                    2021.09 ~ 2021.11
                </p>
                <p id="710ea150-4a65-48ab-b75b-b4df88158d77" class=""><a
                        href="https://www.youtube.com/watch?v=8nzuOlig7pc&amp;t=527s">프로젝트 시연 영상 바로가기</a></p>
            </div>
        </div>
        <hr id="afcc18b8-7026-4402-b0d3-483898c92849"/>
        <div id="8858d1f7-c444-4207-b866-acc83ebc7bb9" class="column-list">
            <div id="0b6b64d6-51da-43c3-b67c-605099c156d7" style="width:37.5%" class="column">
                <h3 id="b38851f0-da39-424a-881b-2832738eb17c" class="highlight-pink">
                    <!--                    <mark class="highlight-pink">스킬</mark>-->
                    스킬
                </h3>
                <p id="02495876-2ae2-42cb-97a7-00404cb60a88" class="">
                </p>
                <p id="486d9f36-6922-4973-bec6-df443918c0d3" class="">
                </p></div>
            <div id="d408cb10-3868-4fc0-8ea2-a17c2e782004" style="width:62.5%" class="column"><p
                    id="b79f30c4-89c3-4bb1-9317-a78991c40765" class=""><strong>Back-end:</strong></p>
                <ul id="873edfe8-146c-4da7-80a3-e50a88421a64" class="bulleted-list">
                    <li style="list-style-type:disc">Java - spring, spring boot</li>
                </ul>
                <ul id="707af146-909f-463d-831b-48f0f6032da7" class="bulleted-list">
                    <li style="list-style-type:disc">Junit5, AssertJ, RestAssured</li>
                </ul>
                <ul id="95c6ee85-db0f-426d-81ba-9357398cb346" class="bulleted-list">
                    <li style="list-style-type:disc">RestDocs</li>
                </ul>
                <ul id="95c6ee85-db0f-426d-81ef-9357398cb346" class="bulleted-list">
                    <li style="list-style-type:disc">spring batch</li>
                </ul>
                <ul id="fd99e780-6987-4b91-909e-5c8567c3d2a5" class="bulleted-list">
                    <li style="list-style-type:disc">Nodejs - Express</li>
                </ul>
                <p id="b4f3d672-93a2-4866-8bc9-62d18a1c5b2b" class=""><strong>DevOps:</strong></p>
                <ul id="6143794e-97af-4909-a089-a71e579f9a16" class="bulleted-list">
                    <li style="list-style-type:disc">AWS EC2</li>
                </ul>
                <ul id="a724b7b5-515b-4ca1-ba85-a870fec0f69a" class="bulleted-list">
                    <li style="list-style-type:disc">Nginx</li>
                </ul>
                <ul id="866ccbe4-9239-4d73-9302-302edeeb7381" class="bulleted-list">
                    <li style="list-style-type:disc">Docker</li>
                </ul>
                <p id="22a0f119-31f4-400f-bfee-b8de3525adcf" class=""><strong>Front-end:</strong></p>
                <ul id="39496914-c826-4df5-8f1c-eabc639c923c" class="bulleted-list">
                    <li style="list-style-type:disc">React</li>
                </ul>
                <ul id="b5982584-ceb4-4853-bcb1-50f524eae6ba" class="bulleted-list">
                    <li style="list-style-type:disc">HTML, CSS, JS</li>
                </ul>
                <p id="e6be6589-f5f1-49a8-a1cb-80dec55bb444" class=""><strong>기타 툴:</strong></p>
                <ul id="cfb0d1f8-d3db-4128-b7de-d05ce4e3da57" class="bulleted-list">
                    <li style="list-style-type:disc">Vim</li>
                </ul>
                <ul id="310fb8b1-100a-4e31-ac95-d19bf3f19379" class="bulleted-list">
                    <li style="list-style-type:disc">Git</li>
                </ul>
                <ul id="18d90e10-4a9f-4ea3-bcd3-16dba6a26527" class="bulleted-list">
                    <li style="list-style-type:disc">Slack</li>
                </ul>
                <ul id="f8086614-7cbe-4b33-9d69-07af0bb8acc4" class="bulleted-list">
                    <li style="list-style-type:disc">Notion</li>
                </ul>
                <ul id="c9ebbf8e-db1e-4c2e-8cf3-5921a3522fe3" class="bulleted-list">
                    <li style="list-style-type:disc">Figma</li>
                </ul>
            </div>
        </div>
        <hr id="5edbb770-e6c3-476c-b82b-358e08f8c4b4"/>
        <h3 id="6b988e8f-b6c3-41ae-97d9-a1cda029a68f" class="highlight-pink">
            <!--            <mark class="highlight-pink">대외활동</mark>-->
            대외활동
        </h3>
        <div id="c80ff3e0-a810-4d9d-96dc-6cd84f219981" class="column-list">
            <div id="48cd9b70-f44b-41d6-80e5-6a633c0977b8" style="width:31.25%" class="column">
                <p id="10e3ae6f-a40d-4c54-b021-1bf5ef30c4ed" class="highlight-gray">
                    <strong>
                        백엔드 4기
                    </strong>
                    <br>
                    2022.02 - 2022.11
                    <!--                    <mark class="highlight-gray">2022.02 - 현재</mark>-->
                </p>
                <p id="3495a27b-cce3-407e-abf2-4a1ac001f67f" class="">
                </p>
                <p id="f12dae35-9eb2-44dc-b369-5b037462ea57" class="">
                </p></div>
            <div id="a5c389c5-f0e8-4bf7-b8ea-6f60703179da" style="width:68.75%" class="column"><p
                    id="0b9d83fd-9f27-4e8e-88e4-06b2c60cbd37" class=""><strong>우아한테크코스</strong></p>
                <p id="5ba6621e-6466-45b6-9055-25b2a5eaec6a" class="">· 많은 크루들, 코치분들과 교류하면서 소프트스킬을 익히고, 페어
                    프로그래밍과 팀
                    프로젝트를 하면서 같이 일을 하는 것에 익숙해질 수 있던 활동이었습니다.</p>
                <p id="223bdafd-f2c6-4549-81b6-85d1301a557e" class="">· 우아한테크코스 활동 기간 동안 열정 있는 크루들과 같이 많은 공부를 하고
                    싶어서 여러
                    스터디를 개최했었습니다. 제가 개최했던 스터디 목록은 다음과 같습니다.
                <div class="indented">
                    <p id="1f34b4ef-f287-4146-82b9-934077a27215" class="text-indent">· 책 “모던 자바 인 액션” 스터디</p>
                    <p id="247f0749-5d2d-40a5-8f91-f46e2b40d873" class="text-indent">· 스프링 스터디</p>
                    <p id="dcbce77b-8507-42df-b4f4-987854fabf29" class="text-indent">· 네트워크 스터디</p>
                    <p id="f311cc73-d3bb-4dd3-851b-a1645cdff715" class="text-indent">· 백준 알고리즘 스터디</p>
                    <p id="bee13537-c1f8-4121-89b0-23920d80baa7" class="text-indent">
                    </p></div>
                </p></div>
        </div>
        <div id="58c0b5be-e6e2-42b2-9693-0858ccc9fb5b" class="column-list">
            <div id="ccc08f2e-a794-4085-84f7-3ef5c82d3499" style="width:31.25%" class="column">
                <p id="8ed8535d-4f88-4abe-813c-da11b7a09af0" class="">
                    <strong>
                        멘토
                    </strong>
                    <br/>
                    2023.01 - 2023.02
                </p>
                <p id="1ca3b93b-f9b1-408a-bb5a-021423869262" class=""><a href="https://github.com/hongik-dev-mentoring">
                    깃헙 바로가기
                </a></p>
                <p id="b32b3e2e-44de-4571-813f-8307459651c3" class="">
                </p></div>
            <div id="d4809f4e-d281-4db7-96e4-cbbb74079812" style="width:68.75%" class="column"><p
                    id="96789095-d0f0-4070-b1bd-7e97748f65da" class=""><strong>홍익대학교 개발 멘토링</strong></p>
                <p id="5167aa69-503e-40c2-9633-db3c2e56c4f9" class="">· 우아한테크코스를 수료하고 개발에 대한 열정이 있는 학생들에게 더 많은 것을 알려주고
                    싶다는 목표가 생겼습니다. 때마침 같이 우아한테크코스를 수료한 크루에게서 멘토링 제의가 들어와 멘토를 하게 되었습니다.</p>
                <p id="b136051e-4641-4a15-ba8f-6d2ef93a878e" class="">· 우아한테크코스의 커리큘럼을 따라가면서 개발에 대한 시야를 많이 넓힐 수 있었던 만큼
                    우아한테크코스의 커리큘럼을 많이 참고했습니다. 그러면서 꼭 알고 넘어갔으면 하는 부분에 대해서는 강의를 제작해 멘토링을 진행하고 있습니다.</p>
                <p id="712da15d-5e3e-4c60-ad2d-2181a1be11f8" class="">· 진행했던 강의는 다음과 같습니다.
                <div class="indented">
                    <p id="dfcc99a0-0e5a-49db-bbba-1ec9d961abb2" class="text-indent">·
                        <a href="https://www.youtube.com/watch?v=HKl88VAWer0&amp;feature=youtu.be">TDD</a></p>
                    <p id="b248d7ad-0d31-407e-9e88-c4902130838b" class="text-indent">·
                        <a href="https://www.youtube.com/watch?v=6Cn6-R44uio">개발 공부법</a></p>
                </div>
                </p></div>
        </div>
        <div id="d089bb10-c646-4714-b374-0af4fa2c3eb5" class="column-list">
            <div id="66dba0d7-856c-4382-9c70-0ac6fbcf0413" style="width:31.25%" class="column">
                <p id="2efa2453-0684-4941-80bc-ff74d1ecc6cb" class="highlight-gray">
                    <strong>
                        9기 회원
                    </strong>
                    <br/>
                    <!--                    <mark class="highlight-gray">2021.03 - 2021.12</mark>-->
                    2021.03 - 2021.12
                </p>
                <p id="3dcf66d3-7078-4e75-a28a-1dfb994a6ed5" class="">
                </p></div>
            <div id="6190bf27-744c-43e9-9a60-5a4bf8ea8ea5" style="width:68.75%" class="column"><p
                    id="433a2eff-d900-4d18-ae00-aceb5e6c4bf5" class=""><strong>명지대학교 멋쟁이사자처럼</strong></p>
                <p id="b47dd36c-31b5-4211-9ce5-5b9d0f338a11" class="">· 멋쟁이사자처럼 활동을 하면서 현업 프론트엔드 개발자를 만나 리액트를
                    공부할 수 있게
                    되었습니다.</p>
                <p id="d659296c-5ff4-4582-a470-f50f5e3975c3" class="">· 그로 인해 멋사 해커톤과 개인 프로젝트에서 리액트를 적용해 볼 수 있게
                    되었습니다.</p>
                <p id="3efe5b5a-6a51-46c5-bef3-8b84559cf0f9" class="">· 멋쟁이사자처럼 해커톤을 하면서, 리액트 스터디를 하면서 다른 분들과
                    교류하며 모르는
                    것을 알려주며 일을 진행했습니다.</p></div>
        </div>
        <hr id="a9a0af2a-c96b-4955-8900-6b042340b048"/>
        <h3 id="a14d3c48-1b3d-47ea-9056-6e4f3345891c" class="highlight-pink">
            기사와 발표
            <!--            <mark class="highlight-pink">기사와 발표</mark>-->
        </h3>
        <ul id="d863764a-a492-48d2-a591-94cefa4b52a4" class="bulleted-list">
            <li style="list-style-type:disc"><a
                    href="https://www.youtube.com/watch?v=sS-_Xr5Q4V4&amp;feature=youtu.be">유투브
                테코톡: 람다 (조회수: 2.8 천회)</a></li>
        </ul>
        <ul id="c616cf37-6b85-4c62-8196-c7620337bb91" class="bulleted-list">
            <li style="list-style-type:disc"><a
                    href="https://www.hankyung.com/it/article/202212210912i">"취업되면 복학 않겠다"…'컴공' 전공에도 코딩 교육받는 예비 개발자들
                [긱스]</a></li>
        </ul>
        <ul id="8df3dae6-e0c4-4359-9734-ffecbda1c9c5" class="bulleted-list">
            <li style="list-style-type:disc"><a href="https://m.sedaily.com/NewsVIew/263EHOIR7Q#cb">서울 경제 인터뷰: 그
                귀하다는
                개발자, 직접 키웁니다.</a></li>
        </ul>
        <ul id="" class="bulleted-list">
            <li style="list-style-type:disc"><a href="https://zdnet.co.kr/view/?no=20221111164409">지디넷 코리아 인터뷰:
                개발자는 '우테코' 전과 후로 나뉜다</a></li>
        </ul>
        <ul id="88d3738f-f8d2-4aa1-82d7-4798b67167b5" class="bulleted-list">
            <li style="list-style-type:disc"><a
                    href="https://www.instagram.com/p/CfqEx_ZPJCv/?igshid=YmMyMTA2M2Y=">명지대
                멋쟁이 사지처럼 10기 멘토링: 개발 공부법</a></li>
        </ul>
        <ul id="12ab466e-1ac7-4e2b-8e96-af6ec30374e8" class="bulleted-list">
            <li style="list-style-type:disc"><a href="https://www.youtube.com/watch?v=4YsK4z3q2DI&amp;t=218s">우아한테크코스
                땡쿠프로젝트 1차 스프린트 발표</a></li>
        </ul>
        <ul id="f92d631b-7ab7-4a19-93d5-e11c78cceab2" class="bulleted-list">
            <li style="list-style-type:disc"><a href="https://www.youtube.com/watch?v=RiL-kPRmMKE&amp;t=3895s">우아한테크코스
                5기 온라인 설명회</a></li>
        </ul>
        <ul id="f158fbd2-8e3b-40be-a783-37aaf0369732" class="bulleted-list">
            <li style="list-style-type:disc"><a href="https://www.youtube.com/watch?v=EwfMpd-htgY">[우테코 인터뷰 챌린지]
                프롤로그팀을
                소개합니다!</a></li>
        </ul>
        <hr id="edbe242e-1d33-4f5b-b347-2f858a7e3622"/>
        <h3 id="4d5845e5-3106-43a1-b673-e426fc964fa2" class="highlight-pink">
            수상
            <!--            <mark class="highlight-pink">수상</mark>-->
        </h3>
        <ul id="30224214-ee12-4eff-b44a-01635b7560d8" class="bulleted-list">
            <li style="list-style-type:disc">명지대학교 코딩경진대회 - 우수상 (2018)</li>
        </ul>
        <hr id="17e3d711-d3ef-4301-8f4a-c31aac74bff0"/>
        <h3 id="61a2e419-e63e-4fcf-bb8b-5ab514b6b827" class="highlight-pink">
            학력
            <!--            <mark class="highlight-pink">학력</mark>-->
        </h3>
        <div id="af788dd8-8328-4b4d-85fc-8f50a17a4707" class="column-list">
            <div id="5e5d1b53-48f6-406e-88f6-9f8269a56d68" style="width:31.25%" class="column"><p
                    id="29c226ba-59a3-412a-bfed-de5bc43a49c7" class=""><strong>컴퓨터공학과 </strong></p></div>
            <div id="389dbf3d-4413-4377-9313-c74e7bf7361c" style="width:68.75%" class="column">
                <p id="e1ea7a06-efaf-4387-8f11-0b274f30f3f7" class="highlight-gray"><strong>명지대학교
                </strong>
                    2018 ~ 현재
                    <!--                    <mark class="highlight-gray">2018 ~ 현재</mark>-->
                </p>
            </div>
        </div>
        <hr id="c4ad67be-c646-49e0-94f2-6e44e0aef616"/>
        <h3 id="3336f660-b19b-4d9a-b00e-f5a85a61da3d" class="highlight-pink">
            언어
            <!--            <mark class="highlight-pink">언어</mark>-->
        </h3>
        <ul id="e518faa9-1791-4fa2-97f5-5e5df447ec91" class="bulleted-list">
            <li style="list-style-type:disc">영어: TOEIC SPEAKING - 6/140 (2021)</li>
        </ul>
        <ul id="82c2bc08-4d46-4880-b9f0-55b19d19823e" class="bulleted-list">
            <li style="list-style-type:disc">중국어: HSK 6 - 258 (2018)</li>
        </ul>
        <hr id="255f9373-517d-4506-a769-5b631f2b94c6"/>
        <h3 id="e6dd97ea-d50c-4795-977e-e8f99f18144f" class="highlight-pink">
            <!--            <mark class="highlight-pink">병력</mark>-->
            병력
        </h3>
        <ul id="d2de05d6-8d89-464a-aba2-be8cd995c31b" class="to-do-list">
            <li>
                <div class="checkbox checkbox-on"></div>
                <span class="to-do-children-checked">군필(2019.01 ~ 2020.11)</span></li>
        </ul>
        <p id="799199a0-459e-402a-bbdd-0870622f84c8" class="">
        </p></div>
</article>
</body></html>

<!--&lt;!&ndash; Chinese Version &ndash;&gt;-->
<!--<div class="zh post-container">-->
<!--    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}-->
<!--    {{ about_zh | markdownify }}-->
<!--</div>-->

<!--&lt;!&ndash; English Version &ndash;&gt;-->
<!--<div class="en post-container">-->
<!--    {% capture about_en %}{% include about/en.md %}{% endcapture %}-->
<!--    {{ about_en | markdownify }}-->
<!--</div>-->


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = "{{site.disqus_username}}";
  var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
  var disqus_url = "{{site.url}}{{page.url}}";

  (function () {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
